GEMINI_API_KEY=xxxx
JAC_MODEL=ollama:gemma4:e2b

PYDANTIC_AI_GATEWAY_API_KEY=xxxx

LANGFUSE_SECRET_KEY=xxxx
LANGFUSE_PUBLIC_KEY=xxxx
LANGFUSE_BASE_URL="https://cloud.langfuse.com"

OLLAMA_BASE_URL=http://localhost:11434/v1